*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

=======
>>>>>>> 966d7cb39d68642416ed780d718156a892e4bc47
}

a {
  color: inherit;
}

img {
  width: 100%;
}
<<<<<<< HEAD
=======

button {
  font: inherit;
}
>>>>>>> 966d7cb39d68642416ed780d718156a892e4bc47
